body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 70px;
}
.grey-color {
  color: grey;
}
.description {
  width: 50%;
  color: rgb(119, 81, 30);
  padding-right: 5%;
  padding-top: 5%;
  padding-left: 5%;
}
.description img {
  width: 100%;
}
section {
  display: flex;
}
.link-button {
  text-decoration: none;
  color: aliceblue;
  background-image: linear-gradient(rgb(134, 13, 13), rgb(245, 89, 89));
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: bold;
}
.top-banner {
  background-image: url(icon/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  margin-top: 12%;
  width: 90%;
  background-image: url(icon/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dream-big img {
  width: 100%;
}
.experience {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 25px;
}
